logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.sbtserver

project/project
project/settings

*.tgz

src/main/resources/npm-package/lib/
src/main/resources/npm-package/node_modules/